  <!-- Bottom Nav Section -->  
<footer>
<% if (page === "contact") { %>
  <nav class="navbar fixed-bottom navbar-custom">
  <% } else { %>
  <nav class="navbar sticky-bottom navbar-custom">
  <% } %>
    <div class="container-fluid">
      <small class="display-8 navbar-text me-auto ms-auto bottom-text">Copyright&nbsp;&copy;&nbsp;2021 Burhan Jawed</small>
      <h3 class="display-8 navbar-text ms-auto"><a href="https://github.com/burhanjawed" target="_blank"><i class="bi bi-github bottom-github"></i></a></h3>
    </div>
  </nav>
</footer>