<!-- Main Content -->
  <main>
    <section>

      <div class="offcanvas offcanvas-start show" data-bs-scroll="true" data-bs-backdrop="false" tabindex="-1" id="offcanvasExample" aria-labelledby="offcanvasLabel">
        <div class="offcanvas-header">
          <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
        </div>
        <div class="offcanvas-body">
          <h5 class="offcanvas-title pb-3" id="offcanvasLabel">Rascal Franky</h5>
          <p>Rascal Franky is a fashion brand based in Toronto, Ontario Canada. I've had the pleasure of creating their logo and some of the graphic design on their clothing.
          </p>
          <p>// Logo Design</p>
          <p>// Graphic Design</p>
          <hr style="height:2px;border-width:0; width:100%;margin-top: 0px;color:gray;" class="float-end hr-about">
          <br>
          <h4><a href="/projects"><i class="bi bi-arrow-left"></i> Back to projects</a></h4>
        </div>
      </div>

<div>
  <h6>
    <a class="float-end offcanvas-btn" data-bs-toggle="offcanvas" href="#offcanvasExample" role="button" aria-controls="offcanvasExample">
    View Description
  </a>
</h6>
</div>

      <div class="carousel-projects py-lg-5">
        
        <div class="owl-carousel owl-project owl-theme">
          <div class="projects-services row">
            <div class="col-lg-12 col-md-12 projects-services-img">
              <img src="../../../../Assets/images/portfolio/rascal-franky/a1.png" alt="img1" class="img-fluid">
            </div>
          </div>
          <div class="projects-services row">
            <div class="col-lg-12 col-md-12 projects-services-img">
              <img src="../../../../Assets/images/portfolio/rascal-franky/a2.png" alt="img2" class="img-fluid">
            </div>
          </div>
          <div class="projects-services row">
            <div class="col-lg-12 col-md-12 projects-services-img">
              <img src="../../../../Assets/images/portfolio/rascal-franky/a3.png" alt="img3" class="img-fluid">
            </div>
          </div>
          <div class="projects-services row">
            <div class="col-lg-12 col-md-12 projects-services-img">
              <img src="../../../../Assets/images/portfolio/rascal-franky/a6.png" alt="img4" class="img-fluid">
            </div>
          </div>
          <div class="projects-services row">
            <div class="col-lg-12 col-md-12 projects-services-img">
              <img src="../../../../Assets/images/portfolio/rascal-franky/a7.png" alt="img5" class="img-fluid">
            </div>
          </div>
          <div class="projects-services row">
            <div class="col-lg-12 col-md-12 projects-services-img">
              <img src="../../../../Assets/images/portfolio/rascal-franky/a5.png" alt="img6" class="img-fluid">
            </div>
          </div>
          <div class="projects-services row">
            <div class="col-lg-12 col-md-12 projects-services-img">
              <img src="../../../../Assets/images/portfolio/rascal-franky/a8.png" alt="img8" class="img-fluid">
            </div>
          </div>
        </div>
      </div>

      

    </section>
  </main>

  <script>
  function Scrolldown() {
     window.scroll(0,370); 
}

window.onload = Scrolldown;
</script>