<div class="offset-md-3 col-md-12">
    <h1 class="display-3 pb-3"><%= title %><span class="other-color">.</span></h1>

    <form method="POST" class="col-lg-6 col-md-10 col-sm-10">

        <!-- Name Text Field -->
        <div class="input-group mb-3">
            <span class="input-group-text" id="name">Name</span>
            <input id="name" type="text" class="form-control" placeholder="Name" aria-label="Name" aria-describedby="Contact Name" name="name" 
            value="<%= contacts.Name %>" required>
        </div>

        <!-- Phone Text Field -->
        <div class="input-group mb-3">
            <span class="input-group-text" id="number">Phone Number</span>
            <input id="number" type="text" class="form-control" placeholder="Phone Number" aria-label="Phone Number" aria-describedby="Contact Phone Number" 
            name="number" value="<%= contacts.Number %>" required>
        </div>

        <!-- Email Text Field -->
        <div class="input-group mb-3">
            <span class="input-group-text" id="email">Email Address</span>
            <input id="email" type="email" class="form-control" placeholder="Email Address" aria-label="Email Address" 
            aria-describedby="Contact Email Address" name="email" value="<%= contacts.Email %>" required>
        </div>

        <!-- Buttons -->
        <button type="submit" class="btn btn-primary button" id="editButton"><i class="bi bi-pen"></i> Update</button>

        <a href="/contact-list" class="btn btn-warning">
                <i class="bi bi-x-circle"></i> Cancel</a>

    </form>
</div>