<!-- Main Content -->
  <main class="contact-page">
    <div class="contact-bg">
      <img src="/Assets/images/banner7.png" alt="banner-image">
    </div>
    <section class="contact-section">
      <h1 class="contact-title">Contact Me</h1>

      <div class="container">
        <form method="post" action="" id="formwrap">
        <div class="contact-form row">
          <div class="form-field col-lg-6">
            <input onkeyup="this.setAttribute('value', this.value);" value="" id="name" class="input-text" type="text" name="">
            <label for="name" class="label">Name</label>
          </div>
          <div class="form-field col-lg-6">
            <input onkeyup="this.setAttribute('value', this.value);" value="" id="email" class="input-text" type="email" name="">
            <label for="email" class="label">Email</label>
          </div>
          <div class="form-field col-lg-6">
            <input onkeyup="this.setAttribute('value', this.value);" value="" id="company" class="input-text" type="text" name="">
            <label for="company" class="label">Company Name</label>
          </div>
          <div class="form-field col-lg-6">
            <input onkeyup="this.setAttribute('value', this.value);" value="" id="phone" class="input-text" type="text" name="">
            <label for="phone" class="label">Contact Number</label>
          </div>
          <div class="form-field col-lg-12">
            <input onkeyup="this.setAttribute('value', this.value);" value="" id="message" class="input-text" type="text" name="">
            <label for="message" class="label">Message</label>
          </div>
          <div class="form-field col-lg-12">
            <input type="submit" class="submit-btn btn-outline-light btn-lg" value="submit">
          </div>
        </div>
      </form>
      </div>
    </section>
  </main>