<!-- Main Content -->
<div class="topBackgroundAlt">
<div class="container">
<h1 class="contact-title display-3">Contact Me<span class="other-color">.</span></h1>
</div>
  <main class="contact-page container pt-5">
    <section class="contact-section">
      <div class="container">
        <form method="post" action="" id="formwrap">
        <div class="contact-form row">
          <div class="form-field col-lg-6">
            <input onkeyup="this.setAttribute('value', this.value);" value="" id="name" class="input-text" type="text" name="">
            <label for="name" class="label">Name</label>
          </div>
          <div class="form-field col-lg-6">
            <input onkeyup="this.setAttribute('value', this.value);" value="" id="email" class="input-text" type="email" name="">
            <label for="email" class="label">Email</label>
          </div>
          <div class="form-field col-lg-6">
            <input onkeyup="this.setAttribute('value', this.value);" value="" id="company" class="input-text" type="text" name="">
            <label for="company" class="label">Company Name</label>
          </div>
          <div class="form-field col-lg-6">
            <input onkeyup="this.setAttribute('value', this.value);" value="" id="phone" class="input-text" type="text" name="">
            <label for="phone" class="label">Contact Number</label>
          </div>
          <div class="form-field col-lg-12">
            <input onkeyup="this.setAttribute('value', this.value);" value="" id="message" class="input-text" type="text" name="">
            <label for="message" class="label">Message</label>
          </div>
          <div class="form-field col-lg-12">
            <input type="submit" class="submit-btn btn-outline-light btn-lg" id="contactSubmitBtn" value="submit" onclick="btnClick">
          </div>
        </div>
      </form>
      </div>
    </section>
  </main>
  </div>

  <script>
  document.addEventListener("submit", function(e) {
    e.preventDefault();
    window.location.href = "/";
  });
    </script>