<div class="topBackground">

<div class="container">
  <h1 class="display-3 logintxt">Login<span class="other-color">.</span></h1>
</div>
<div class="container tableTransition">
<div class="row">
    <div class="offset-md-3 col-lg-6 col-md-6 col-sm-12">
          <div class="login" id="contentArea">
              <!-- User Icon -->
              <div class="display-3 text-center loginIcon"><i class="bi bi-person-circle"></i></div>

              <!-- message area -->
              <% if(messages.length > 0) { %>
              <div id="messageArea" class="alert alert-danger">
                <%= messages %>
              </div>
              <% } %>
              
              <form id="loginForm" novalidate method="POST">
              <!-- Username field -->
                <div class="form-group">
                  <div class="form-floating">
                    <input type="text" class="form-control" id="username" name="username"  required
                    value="" placeholder="Enter your username">
                    <label for="username">Username</label>
                  </div>
                </div>

                <!-- Password field -->
                <div class="form-group pt-2">
                  <div class="form-floating">
                    <input type="password" class="form-control" id="password" name="password"  required
                    value="" placeholder="Enter your password">
                    <label for="password">Password</label>
                  </div>
                </div>    

                <!-- Buttons -->                                    
                <div class="text-end mt-5">
                  <button id="loginButton" type="submit" class="btn btn-dark"><i class="fas fa-sign-in-alt"></i> Login</button>
                  <button id="cancelButton" type="reset" class="btn btn-dark"><i class="fas fa-undo"></i> Cancel</button>
                </div>
              </form>
             
          </div>
          <p class="text-center text-muted small pt-1">
            Don't have an account? 
            <a href="/register">Register Here</a>
          </p>
    </div>
</div>
</div>
</div>