  <main>
    <!-- Project Area -->
    <section class="project-area mb-4">
      <div class="container">
        <div class="project-title pb-5">
          <div class="row">
            <div class="col-lg-5 col-md-12.col-sm-12 text-start">
          <h1 class="title-h1 display-3">My works<span class="other-color">.</span></h1>
        </div>
        </div>
          <div class="hr-projects">
          <hr style="height:2px;border-width:0; width:100%;margin-top: 0px;color:gray;background-color:gray" class="float-end">
        </div>
        </div>
        <!-- Display Holy Cow Project -->
        <div class="row grid">
          <div class="col-lg-4 col-md-6 col-sm-12 element-item web-design">
            <div class="our-project">
              <div class="img hover14">
                <div>
                <figure><a href="/projects/holy-cow/"><img src="./Assets/images/portfolio/p1.png" alt="Project-1"></a></figure>
              </div>
            </div>
              <div class="title py-4">
                <a href="/projects/holy-cow/"><h4>Holy Cow - Ice Cream & Mini Golf</h4></a>
                <span class="text-secondary">Web Design, Logo Design</span>
              </div>
            </div>
          </div>
          <!-- Display Rascal Franky Project -->
          <div class="col-lg-4 col-md-6 col-sm-12 element-item Logo-design">
            <div class="our-project">
              <div class="img hover14">
                <div>
                <figure><a href="/projects/rascal-franky/"><img src="./Assets/images/portfolio/p2.png" alt="Project-2"></a></figure>
              </div>
            </div>
              <div class="title py-4">
                <a href="/projects/rascal-franky/"><h4>Rascal Franky</h4></a>
                <span class="text-secondary">Logo Design, Graphic Design</span>
              </div>
            </div>
          </div>
          <!-- Display ReaderLab Project -->
          <div class="col-lg-4 col-md-6 col-sm-12 element-item Logo-design">
            <div class="our-project">
              <div class="img hover14">
                <div>
                <figure><a href="/projects/readerlab/"><img src="./Assets/images/portfolio/p4.png" alt="Project-3"></a></figure>
              </div>
            </div>
              <div class="title py-4">
                <a href="/projects/rascal-franky/"><h4>ReaderLab</h4></a>
                <span class="text-secondary">Logo Design, Flyer Design</span>
              </div>
            </div>
          </div>
          <!-- Display Dani Likha Studio Project -->
          <div class="col-lg-4 col-md-6 col-sm-12 element-item Logo-design">
            <div class="our-project">
              <div class="img">
                <img src="./Assets/images/portfolio/p3.png" alt="Project-4">
              </div>
              <div class="title py-4">
                <h4>Dani Likha Studio</h4>
                <span class="text-secondary">Logo Design</span>
              </div>
            </div>
          </div>
          <!-- Display R&D Bake Lab Project -->
          <div class="col-lg-4 col-md-6 col-sm-12 element-item Logo-design">
            <div class="our-project">
              <div class="img">
                <img src="./Assets/images/portfolio/p7.png" alt="Project-5">
              </div>
              <div class="title py-4">
                <h4>R&D Bake Lab</h4>
                <span class="text-secondary">Logo Design</span>
              </div>
            </div>
          </div>
          <!-- Display Confections by Dani Project -->
          <div class="col-lg-4 col-md-6 col-sm-12 element-item Logo-design">
            <div class="our-project">
              <div class="img">
                <img src="./Assets/images/portfolio/p8.png" alt="Project-8">
              </div>
              <div class="title py-4">
                <h4>Confections by Dani</h4>
                <span class="text-secondary">Logo Design</span>
              </div>
            </div>
          </div>
          <!-- Display Faded Events Project -->
          <div class="col-lg-4 col-md-6 col-sm-12 element-item Logo-design">
            <div class="our-project">
              <div class="img">
                <img src="./Assets/images/portfolio/p9.png" alt="Project-9">
              </div>
              <div class="title py-4">
                <h4>Faded Events</h4>
                <span class="text-secondary">Logo Design, Flyer Design</span>
              </div>
            </div>
          </div>
          <!-- Display Zara Wedding & Events Project -->
          <div class="col-lg-4 col-md-6 col-sm-12 element-item Logo-design">
            <div class="our-project">
              <div class="img">
                <img src="./Assets/images/portfolio/p10.png" alt="Project-10">
              </div>
              <div class="title py-4">
                <h4>Zara Wedding & Events</h4>
                <span class="text-secondary">Logo Design</span>
              </div>
            </div>
          </div>
          <!-- Display BOXD Project -->
          <div class="col-lg-4 col-md-6 col-sm-12 element-item Logo-design">
            <div class="our-project">
              <div class="img">
                <img src="./Assets/images/portfolio/p11.png" alt="Project-11">
              </div>
              <div class="title py-4">
                <h4>BOXD</h4>
                <span class="text-secondary">Logo Design</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- End Project Area -->
  </main>