<!-- Main Content -->
  <main>
<!-- Start Services page -->
    <section class="services-area container">

      <div class="container">
        <div class="row">
          <div class="col-lg-12 text-center services-title">
            <h1 class="title-text display-3">Services<span class="other-color">.</span></h1>
            </div>
          </div>
        </div>
        <div class="container services-list">
          <div class="row">
            <div class="col-lg-3 col-md-6 col-sm-12">
              <div class="services">
                <div class="services-img text-center py-4">
                  <img src="./Assets/images/services/b1.png" alt="Services-1">
                </div>
                <div class="card-body text-center">
                  <h5 class="card-title">Web Development</h5>
                  <p class="card-text text-secondary">
                    Client-focused, customer-centric, creating website solutions that deliver tangible business results, I help brands with the 
                    ever-changing digital landscape.
                  </p>
                </div>
              </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-12">
              <div class="services">
                <div class="services-img text-center py-4">
                  <img src="./Assets/images/services/b2.png" alt="Services-2">
                </div>
                <div class="card-body text-center">
                  <h5 class="card-title">UX/UI Design</h5>
                  <p class="card-text text-secondary">
                    I lead the way in interface design development, creating websites and applications that are visually appealing, 
                    seamless, and intuitive to use, putting users first.
                  </p>
                </div>
              </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-12">
              <div class="services">
                <div class="services-img text-center py-4">
                  <img src="./Assets/images/services/b3.png" alt="Services-3">
                </div>
                <div class="card-body text-center">
                  <h5 class="card-title">Graphic Design</h5>
                  <p class="card-text text-secondary">
                    My graphic design service can deliver artwork that underscores your brand message & captures the attention of 
                    your potential customers.
                  </p>
                </div>
              </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-12">
              <div class="services">
                <div class="services-img text-center py-4">
                  <img src="./Assets/images/services/b4.png" alt="Services-4">
                </div>
                <div class="card-body text-center">
                  <h5 class="card-title">Mobile Development</h5>
                  <p class="card-text text-secondary">
                    I build native mobile applications (iOS and Android) for your business. As an experienced developer, I will make your mobile 
                    app experiences secure, scalable, and sustainable.
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="container">
        <hr style="height:2px;border-width:0; width:100%;margin-top: 0px;color:gray;" class="float-end hr-about">
      </div>
    </section>
    
    <section class="container">
      <div class="row skills-row">
        
        <div class="col-lg-8 col-md-8 col-sm-4 ps-5">
          <div>
          <h2 class="how-title display-3">Here are some</h2>
          <h2 class="how-title2 display-3">of my great skills</h2>
        </div>
      </div>
        <div class="col-lg-4 col-md-4 col-sm-4 pe-5">
          <div class="skillsbarcontainer">
          <div class="wrapper">
            <div class="skill">
                <p>HTML5</p>
                <div class="skill-bar skill1 wow slideInLeft animated">
                    <span class="skill-count1">95%</span>
                </div>
            </div>
            <div class="skill">
                <p>CSS3</p>
                <div class="skill-bar skill2 wow slideInLeft animated">
                     <span class="skill-count2">85%</span>
                </div>
            </div>
            <div class="skill">
                <p>JAVASCRIPT</p>
                <div class="skill-bar skill3 wow slideInLeft animated">
                    <span class="skill-count3">80%</span>
                </div>
            </div>
            <div class="skill">
                <p>JQUERY</p>
                <div class="skill-bar skill4 wow slideInLeft animated">
                    <span class="skill-count4">75%</span>
                </div>
            </div>
            <div class="skill">
                <p>ADOBE PHOTOSHOP</p>
                <div class="skill-bar skill5 wow slideInLeft animated">
                    <span class="skill-count5">95%</span>
                </div>
            </div>
            <div class="skill">
                <p>ADOBE ILLUSTRATOR</p>
                <div class="skill-bar skill6 wow slideInLeft animated">
                    <span class="skill-count6">90%</span>
                </div>
            </div>
        </div>
      </div>
      </div>
      </div>
      
    </section>
<!-- End Services page -->
  </main>